<footer class="mt-auto px-6 pt-6 border-t border-gray-300 dark:border-dark-border transition-colors">
    <div class="text-sm text-gray-500 dark:text-gray-400 text-center">
        &copy; <span id="currentYear"></span> <span
            class="font-semibold text-gray-900 dark:text-white">pengenumroh.com</span>. All rights
        reserved.
    </div>
</footer>

</div>
</main>
</div>