        <div class="container-tag" data-name="<%= name %>">
            <div class="tag-name">
                <input type="text" class="input-tag-custom" placeholder="<%= placeholder || 'Type and hit enter' %>">
            </div>
            <!-- <input type="hidden" name="<%= name %>" class="tag-hidden"> -->
        </div>