<div class="hotel-item border rounded p-3 mb-3">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h6 class="mb-0">Hotel</h6>
    <button type="button" class="btn btn-sm btn-danger remove-hotel">Hapus</button>
  </div>

  <div class="form-group mb-2">
    <label>Kota</label>
    <select name="hotels[__INDEX__][city]" class="form-select">
      <option value="MEKKAH">Mekkah</option>
      <option value="MADINAH">Madinah</option>
    </select>
  </div>

  <div class="form-group mb-2">
    <label>Nama Hotel</label>
    <input
      type="text"
      name="hotels[__INDEX__][name]"
      class="form-control"
      placeholder="Nama Hotel"
      required
    >
  </div>

  <div class="form-group mb-2">
    <label>Fasilitas Hotel</label>
      <%- include('../partials/formTag', {
        name: 'hotel_facilities',
        placeholder: 'Type and hit enter'
      }) %>

  </div>

  <div class="form-group">
    <label>Gallery</label>
    <input
      type="file"
      name="hotels[__INDEX__][gallery]"
      class="form-control"
    >
  </div>
</div>