<div>
    <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"><%= label %> <span class="text-danger">*</span></label>
    <div class="relative">
        <span class="absolute left-4 top-1/2 -translate-y-1/2 text-gray-500 font-semibold">Rp</span>
        <input type="text" name="<%= name %>" id="<%= name %>" class="w-full pl-12 pr-4 py-3 rounded-xl bg-gray-50 dark:bg-slate-800 border border-gray-200 dark:border-slate-700 focus:outline-none focus:ring-2 focus:ring-green-500/20 focus:border-green-500 transition-all dark:text-white" data-type="<%= type %>" required>
    </div>
</div>