<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered" id="userAksesT">
        <thead class="table-light">
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Menu</th>
            <th class="text-center">View</th>
            <th class="text-center">Add</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
            <th class="text-center">Print</th>
            <th class="text-center">Upload</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </div>
</div>
