.form-group-default {
    border: 1px solid rgba(26, 32, 53, 0.5);
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease; /* Transisi halus */
    background-color: #f9f9f9; /* Warna latar default */
}

.form-group-default input,
.form-group-default textarea,
.form-group-default select {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 14px;
    color: #333;
}

.form-group-default:focus-within {
    border-color: rgb(26, 32, 53); /* Warna border saat fokus */
    box-shadow: 0 0 8px rgba(26, 32, 53, 0.5); /* Efek bayangan */
    background-color: #ffffff; /* Warna latar saat fokus */
}

.form-group-default label {
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
    display: block;
    transition: color 0.3s ease; /* Transisi warna label */
}

.form-group-default:focus-within label {
    color: rgb(26, 32, 53); /* Warna label saat fokus */
}
.img-container-product{
  width: 60px;
  height: 50px;
}
.img-product{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/* --- MULTI LEVEL SIDEBAR FIX --- */
.nav .collapse .collapse {
  padding-left: 1rem;
  transition: all 0.3s ease;
}

.sidebar .collapse{
  display: none;
}
.sidebar .collapse.show{
    display: block;
}
/* Rotasi caret pas terbuka */
.nav .caret {
  transition: transform 0.3s ease;
}

.nav .collapsed .caret {
  transform: rotate(0deg);
}

.nav .collapse.show ~ .nav-link .caret,
.nav .nav-item.submenu.show > a .caret {
  transform: rotate(90deg);
}

/* Optional: styling child menu biar beda */
.nav .nav-collapse .nav-link {
  font-size: 0.9rem;
  padding-left: 2rem;
}

/* Highlight active menu */
.nav-item.active > a {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}
/* facilities include */
.container-tag {
  width: 100%;
  height: 30%;
}
.tag-name{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 1px;
  border: 2px solid #f1f0f0;
  border-radius: 5px;
  box-sizing: border-box;
}
.tag-name .tag{
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #d5d5d5;
  transition: .2s ease-in;
}
.tag:hover{
  background: #ff5050ed;
  color: #ffffff;
}
.tag i{
  font-size: 12px;
  margin-left: 5px;

  transition: .2s ease-in;
}
/* .tag i:hover{
  color: #ffffff;
  background: #ff0000;
  padding: 1px;
} */
.tag-name input{
  flex: 11 200px;
  min-width: 160px;
  width: 98%;
  padding: 6px;
  border: none;
  box-sizing: border-box;
}