<div class="container">
    <div class="page-inner">
     <div class="col-lg-12">
        <!-- PRODUK -->
        <form id="formProduct">
         <div class="row">
            <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Tambah Produk</div>
                        </div>
                        <div class="card-body row row-cols-2">
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Nama Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="hidden" id="hidden_id">
                                        <input type="text" class="form-control" name="nama_produk" id="nama_produk" placeholder="Masukan Nama Produk" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Kategori<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <select name="category_id" id="category_id" class="form-select category_id" >
                                                <option 
                                                disabled
                                                selected
                                                value="">Pilih kategori</option>
                                                
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Tanggal<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="date" class="form-control" name="date" id="date" placeholder="Masukan Nama Produk" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Keberangkatan<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="tmp_keberangkatan" id="tmp_keberangkatan" placeholder="Masukan Tempat Keberangkatan" required>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Durasi (Hari)<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" class="form-control" name="duration" id="duration" placeholder="9 Hari" required>
                                    </div>
                                </div>
                                 <div class="form-group col">
                                    <label class="col fw-bold">
                                       Quota<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="number" class="form-control" name="quota" id="quota" placeholder="9 Hari" value="1" required>
                                    </div>
                                </div>
                                <!-- <div class="form-group col">
                                <label class="fw-bold">Fasilitas Tambahan<span class="text-danger">*</span></label>
                                    <div class="col">
                                        <a data-bs-toggle="modal" data-bs-target="#facilityFormModal" class="text-dark" href=""><i class="fa fa-plus"></i> Tambahkan Fasilitas Tambahan</a>
                                    </div>
                            </div> -->
                            <div class="form-group col">
                             <label class="col fw-bold">Maskapai Keberangkatan<span class="text-danger">*</span></label>
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Contoh: Garuda Indonesia" id="flight_kbrkt" name="flight_kbrkt">
                            </div>      
                        </div>
                        <div class="form-group col">
                            <label class="col fw-bold">Maskapai Kepulangan<span class="text-danger">*</span></label>
                            <div class="col">      
                               <input id="flight_kplg" type="text" class="form-control" placeholder="Contoh: Garuda Indonesia">
                            </div>      
                        </div>
                               
                            <!-- <div class="modal  fade" id="facilityFormModal" tabindex="-1" 
                            aria-labelledby="facilityFormModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content" style="border-radius: 15px; border: none; background-color: #f8f9fa;">
                                
                                <div class="modal-header border-0 pb-0">
                                    <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-1" style="font-size: 0.85rem;">
                                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Damien</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none text-muted">Projects</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">New Build</li>
                                    </ol>
                                    </nav>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body pt-1">
                                    <h4 class="modal-title mb-3" id="partsModalLabel">Fasilitas Tambahan</h4>
                                    
                                    <p class="text-muted small fw-bold text-uppercase mb-2">Include & Exclude</p>

                                    <div class="list-group gap-2" id="facility-list-container">

                                    </div>
                                    <form id="facilityInputForm">
                                        <div class="formAddFacility" id="formAddFacility">
                                        </div>
                                    </form>
                                    
                                </div>
                                </div>
                            </div>
                            </div> -->
                            <div class="form-group col">
                                    <label class="col fw-bold  form-label">Status</label>
                                        <div class="col">
                                            <select name="status" class="form-select" id="status">
                                                <option>Contoh: Draft</option>
                                                <option value="draft">Draft</option>
                                                <option value="publish">Publish</option>
                                            </select>
                                        </div>                     
                            </div>
                            <div class="form-group col">
                                    <label class="col fw-bold">
                                        Thumbnail Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="file" class="form-control-file" 
                                        id="thumbnail" name="thumbnail" onchange="validateFileExtension(this)">
                                    </div>
                            </div>
                             <div class="form-group col">
                                    <label class="col fw-bold">
                                        Deskripsi Produk<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <textarea name="description" id="description" class="form-control" rows="5" placeholder="Contoh: Paket Umrah Easy ini dirancang khusus untuk jamaah yang menginginkan kenyamanan dengan harga terjangkau..." required></textarea>
                                    </div>
                            </div>
                             <div class="form-group col">
                                    <label class="col fw-bold">
                                        Syarat dan Ketentuan<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="Snk" id="snk" placeholder="Ketik lalu tekan Enter" >
                                         
                                        <ul class="list-unstyled" id="snk-container">
                                            
                                        </ul>
                              
                                    </div>
                                    <div class="form-group col">
                                   
                                </div>
                                </div>
                            <div class="form-group col-lg-12">
                                <label for="" class="col fw-bold">Catatan<span class="text-danger">*</span></label>
                                 <div class="col d-flex justify-content-between">
                                      <input type="text" class="form-control" name="note" id="note" placeholder="Ketik poin catatan lalu Enter (Misal: Harga dapat berubah sewaktu-waktu)" >
                                      <button type="button" id="addNote" class="btn rounded btn-primary ms-2">
                                        <i class="fas fa-plus"></i>                                                                 </button>
                                 </div>
                            </div>  
                            <div class="form-group col-lg-12">
                                    <div class="col">
                                        <ul class="list-unstyled" id="note-container">
                                            
                                        </ul>
                                    </div>
                            </div>   
                        </div>
                    </div>
            </div>    
             <div class="col-lg-4 ">
                  <!-- <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Hotel</h4>
                        </div>
                        <div class="card-body"> 
                                <div class="form-group col ">
                                    <label class="col fw-bold">Hotel<span class="text-danger">*</span>
                                   </label>
                                    <div class="col">
                                        <select name="hotel_ids[]" 
                                        id="hotelSelect"
                                        class="form-select" multiple="multiple">         
                                            <option></option>
                                        </select>
                                        
                                    </div>     
                                </div>
                            
                        </div>
                    </div> -->
                    <div class="card shadow-sm">
                        <div class="card-header bg-white">
                            <h4 class="card-title mb-0">Harga Paket Travel</h4>
                        </div>
                        <div class="card-body"> 
                               <div class="col">
                                    <%- include('../partials/price_input', { label: 'Quad', name: 'price_quad', type:"Quad"}) %>
                                </div>
                                <div class="col">
                                    <%- include('../partials/price_input', { label: 'Triple', name: 'price_triple',type:"Triple" })  %>
                                </div>
                                <div class="col">
                                    <%- include('../partials/price_input', { label: 'Double', name: 'price_double',type:"Double" })  %>
                                </div>
                        </div>
                    </div>
         </div>
 
          <div class="col-lg-8">
             <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hotel</h4>
                    </div>
                    <div class="card-body">
                        <div class="row g-4">
                             <div class="col-lg-6">
                                <div id="hotel_mekkah" class="hotel-container bg-light p-2 rounded" >
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                            Hotel Mekkah<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="include"  placeholder="Contoh: Pullman ZamZam Tower" required>
                                    </div>
                                    <div class="form-group col">
                                            <label class="col fw-bold">
                                                Image<span class="text-danger">*</span>
                                            </label>
                                            <div class="col">
                                                <input type="file" class="form-control-file" 
                                                id="hotel_mekkah_image" name="hotel_mekkah_image" onchange="validateFileExtension(this)">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                          Rating
                                        </label>
                                   
                                       <select  class="form-control">
                                            <option value="" disabled="" selected="">Pilih rating</option>
                                            <option value="1">★ ☆ ☆ ☆ ☆</option>
                                            <option value="2">★ ★ ☆ ☆ ☆</option>
                                            <option value="3">★ ★ ★ ☆ ☆</option>
                                            <option value="4">★ ★ ★ ★ ☆</option>
                                            <option value="5">★ ★ ★ ★ ★</option>
                                        </select>             
                                    </div>
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                            Jarak Ke Masjidil Haram<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="include"  placeholder='Contoh: 50m(Pelantaran)' required>
                                    </div>
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                            Fasilitas<span class="text-danger">*</span>
                                        </label>
                                       <div id="mekkah_fclty" class=" mekkah_fclty facility-container d-flex flex-wrap gap-2" style="max-width: 400px;" role="group" aria-label="Basic checkbox toggle button group">

                                        </div>
                                    </div>    
                                </div>
                             </div>
                             <div class="col-lg-6">
                                 <div id="hotel_madinah" class="hotel-container bg-light p-2 rounded" >
                                     <div class="form-group">
                                        <label class="col fw-bold">
                                            Hotel Madinah<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="exclude"  placeholder="Contoh: Anwar Al Madinah" required>
                                     </div>
                                     <div class="form-group col">
                                            <label class="col fw-bold">
                                                Image<span class="text-danger">*</span>
                                            </label>
                                            <div class="col">
                                                <input type="file" class="form-control-file" 
                                               id="hotel_madinah_image"  name="hotel_madinah_image" onchange="validateFileExtension(this)">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                          Rating
                                         </label>
                                        <select class="form-control">
                                            <option value="" disabled="" selected="">Pilih rating</option>
                                            <option value="1">★ ☆ ☆ ☆ ☆</option>
                                            <option value="2">★ ★ ☆ ☆ ☆</option>
                                            <option value="3">★ ★ ★ ☆ ☆</option>
                                            <option value="4">★ ★ ★ ★ ☆</option>
                                            <option value="5">★ ★ ★ ★ ★</option>
                                        </select>
                                    
                                    </div>  
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                            Jarak Ke Masjid Nabawi<span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" name="include" placeholder='Contoh: 50m(Pelantaran)' required>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col fw-bold">
                                            Fasilitas<span class="text-danger">*</span>
                                        </label>
                                       <div id="madinah_fclty" class="facility-container d-flex flex-wrap gap-2" style="max-width: 400px;" role="group" aria-label="Basic checkbox toggle button group">
                                           
                                        </div>
                                  </div>                                               
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Fasilitas Tambahan</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group row g-5">
                             <div class="card-body row row-cols-2">
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Include<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="include" id="include-fclty" placeholder="Ketik lalu tekan Enter" >
                                    </div>
                                </div>
                               
                                <div class="form-group col">
                                    <label class="col fw-bold">
                                        Exclude<span class="text-danger">*</span>
                                    </label>
                                    <div class="col">
                                        <input type="text" class="form-control" name="exclude" id="exclude-fclty" placeholder="Ketik lalu tekan Enter" >
                                    </div>
                                </div>
                                  <div class="form-group col">
                                    <div class="col">
                                        <ul class="list-unstyled" id="include-container">
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="col">
                                        <ul class="list-unstyled" id="exclude-container">
                                            
                                        </ul>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Rencana Perjalanan</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group row g-5">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-success btn-block action-btn" id="addRoadmap" name="roadmap_attributes">Add Roadmap</button>
                            </div>
                            <div class="roadmap_option" id="roadmap_option">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- SUBMIT -->
            <div class="col-12 ">
                <div class="float-right mb-3">
                        <button type="submit" 
                        id="submitProductBtn"
                        class="btn btn-success">Simpan Produk</button>                     
                </div>
            </div>  
        </form>
       </div>
    </div> 
</div>